<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/Home :: head"></th:block>
    <title>Products</title>
</head>
<body>

    <header th:replace="fragments/Home :: header">

    </header>

    <main>
        <form method="post">
            <input type="text" name="product">
            <input type="submit" name="add" value="Add">
        </form>
        <form method="post" th:each="product, status : ${products}" th:action="@{/product(id=${status.index})}">
            <input type="text" name="product" th:value="${product}">
<!--            <input type="text" name="oldProduct" hidden th:value="${product}">-->
            <input type="text" name="id" hidden th:value="${status.index}">
            <input type="submit" name="delete" value="Del">
            <input type="submit" name="change" value="Change">
        </form>
    </main>

    <footer th:replace="fragments/Home :: footer">

    </footer>

</body>
</html>