<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="fragments/Home :: head"></th:block>
    <title>Days</title>
</head>
<body>

    <header th:replace="fragments/Home :: header">

    </header>

    <main>
        <div th:each="day, status : ${daysOfWeek}" th:unless="${status.first or status.last}">
            <p th:text="${day.toString()}"></p>
        </div>
    </main>

    <footer th:replace="fragments/Home :: footer">

    </footer>

</body>
</html>