<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/Home :: head"></th:block>
    <title>Counter</title>
</head>
<body>

<header th:replace="fragments/Home :: header">

</header>

<main>
    <div>
        <h1 th:text="${sentence + count.addToCount() + '10'}">0</h1>
    </div>
    <form method="get" th:action="@{/hello}">
        <input placeholder="Name" type="text" name="Username">
    </form>
</main>

<footer th:replace="fragments/Home :: footer">

</footer>


</body>
</html>