<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="fragments/Home :: head"></th:block>
    <title>Calculator</title>
</head>
<body>
    <header th:replace="fragments/Home :: header">
    </header>
    <main>
        <h1>Calculator</h1>
        <br>
        <h3 th:text="${intermediateResult ?: 0}">intermediateResult</h3>
        <br>
        <form method="post">
            <input type="number" name="number" placeholder="Enter a number" step="any">
            <input type="submit" name="action" value="+">
            <input type="submit" name="action" value="-">
            <input type="submit" name="action" value="*">
            <input type="submit" name="action" value="/">
            <input type="submit" name="action" value="Clear">
        </form>
    </main>
    <footer th:replace="fragments/Home :: footer">
    </footer>

</body>
</html>