*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Agency FB";
}
body{
    height: 100vh;
    background: linear-gradient(transparent, darkcyan) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
header {
    padding: 10px;
    background-color: #c4e0ff;
    border-style:solid;
    border-color: black;
    border-width: 0 0 2px 0;
}
header a {
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger;
}
main{
    padding: 10px;
}
footer{
    padding: 10px;
    margin: auto auto 0 auto;
}
.logo{
    height: 18px;
}

label{
    font-weight: bold;
}