<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block th:include="fragments/Home :: head"></th:block>
    <title>Hello</title>
</head>
<body>
<header th:replace="fragments/Home :: header">

</header>

<main>
    <h1 th:text="${text}"></h1>
    <p>Hello from me to you</p>
</main>

<footer th:replace="fragments/Home :: footer">

</footer>

</body>
</html>