<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="fragments/Home :: head"></th:block>
    <title>AddressView</title>
</head>
<body>
    <header th:replace="fragments/Home :: header">
    </header>

    <main>
        <div th:object="${address}">
            <label for="firstName">First Name</label>
            <p id="firstName" th:text="*{firstName}"></p>
            <label for="lastName">Last Name</label>
            <p id="lastName" th:text="*{lastName}"></p>
            <label for="streetAndNumber">Street and house number</label>
            <p id="streetAndNumber" th:text="*{streetAndNumber}"></p>
            <label for="zipCode">Zipcode</label>
            <p id="zipCode" th:text="*{zipCode}"></p>
            <label for="city">City</label>
            <p id="city" th:text="*{city}"></p>
            <label for="country">Country</label>
            <p id="country" th:text="*{country}"></p>
        </div>
    </main>

    <footer th:replace="fragments/Home :: footer">
    </footer>
</body>
</html>