<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
  <meta charset="UTF-8">
  <link href="../../../resources/static/css/main.css" rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<header th:fragment="header">
  <nav>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/hello}">Hello</a>
    <a th:href="@{/test}">Test</a>
    <a th:href="@{/counter}">Counter</a>
    <a th:href="@{/age}">Age</a>
    <a th:href="@{/addition}">Addition</a>
    <a th:href="@{/dayOfWeek}">Day of week</a>
    <a th:href="@{/product}">Products</a>
    <a th:href="@{/pcRequirements}">Pc</a>
    <a th:href="@{/address}">Address</a>
    <a th:href="@{/calculator}">Calculator</a>
    <a th:href="@{/books}">Books</a>
  </nav>
</header>

<footer th:fragment="footer">
  <p>&copy; Made by Kurtje</p>
</footer>

</body>
</html>
