<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/Home :: head"></th:block>
    <title>Book Details</title>
</head>
<body>
    <header th:replace="fragments/Home :: header">

    </header>
    <main>
        <h1>Book Details</h1>
        <br/>
        <p>Title: <span th:text="${book.title}"></span></p>
        <p>ISBN: <span th:text="${book.isbn}"></span></p>
        <p>Author: <span th:text="${book.author}"></span></p>
        <p>Price: <span th:text="${book.price}"></span></p>
    </main>
    <footer th:replace="fragments/Home :: footer">

    </footer>
</body>
</html>