<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/Home :: head"></th:block>
    <title>Book list</title>
</head>
<body>
    <header th:replace="fragments/Home :: header">

    </header>
    <main>
        <h1>Book List</h1>
        <br>
        <ul>
            <li th:each="book : ${books}">
                <a th:text="${book.getTitle()}" th:href="@{/books/{isbn}(isbn=${book.getIsbn()})}"></a>
            </li>
        </ul>
    </main>
    <footer th:replace="fragments/Home :: footer">

    </footer>
</body>
</html>